/* _font-face.css */
@font-face {
  font-family: 'JetBrains Mono';
  src: url('../../../fonts/jetbrains/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono Bold';
  src: url('../../../fonts/jetbrains/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Iosevka';
  src: url('../../../fonts/iosevka/Iosevka-Regular.ttc') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Iosevka Bold';
  src: url('../../../fonts/iosevka/Iosevka-Bold.ttc') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../../fonts/inter/Inter-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
