html,
body {
  height: 100%;
  overflow-x: hidden;
  color: var(--primary-color);
  margin: 0;
  padding: 0;
}

body {
  position: relative; /* Cria um contexto de empilhamento */
  background: #191919 url('../../image/background/bg.png') no-repeat center/cover;
  font-family: 'JetBrains Mono', monospace;
  margin: 0;
  padding: 0;
}

main {
  flex: -1;
}