html,
body {
  min-height: 100%;
  overflow-x: hidden;
  color: var(--primary-color);
  margin: 0;
  padding: 0;
}

body {
  position: relative; /* Cria um contexto de empilhamento */
  background: var(--bg-body) url('../../image/background/bg.png') no-repeat center/cover;
  margin: 0;
  padding: 0;
}

main {
  flex: -1;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease-in-out;
}	

