
body {
  font-family: var(--f-body);
}

h1, .title {
  font-family: var(--f-title);
}

h1, .title-bold {
  font-family: var(--f2-title);
}

h2, h3, .subtitle {
  font-family: var(--f-subtitle);
}

h4, h5, h6 {
  font-family: var(--f2-subtitle);
}
