:root {
  /* Colors */
  --header-color-bg: #111111;
  --primary-color-text: #ffffff;
  --primary-color: #f5f5f5 ;
  --accent-color: #e74c3c;
  --background-color: #fdfdfd;
  --background-color-2: #f5f5f5;
  --background-color-3: #0c0c0c;
  --title-color: #333;
  --text-color-2: #444;
  --space-color: #050534;
  --bg-body: #191919;

  /* Typography */
  --f-title: 'Iosevka Bold', monospace;
  --f2-title: 'Iosevka', monospace;
  --f-subtitle: 'JetBrains Mono Bold', monospace;
  --f2-subtitle: 'JetBrains Mono', monospace;
  --f-body: 'Inter', sans-serif;

  /* Spacing */
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;

  /* Border Radius */
  --border-radius: 4px;

  /* carousel */
  --crsl-bg: transparent;
  --box-bg: #1e272e;
  --box-shadow: #0000004f;
  --box-shadow-border: #0000000f;
  --box-border: #fff;
}