.history-section {
  background-color: var(--background-color-3);
  overflow: hidden;
}
article.text-custom  {
  background-color: var(--background-color-3);
}
.text-custom p {
  font-size: 1.3rem;
  color: var(--primary-color-text);
  font-family: var(--f-body);
}



