/* Botão customizado */
.btn-space {
  display: inline-flex;
  align-items: center;
  font-family: var(--f2-subtitle);
  font-size: 1rem;
  padding: 0.75rem 2rem;
  border-radius: 50px;
  background: linear-gradient(135deg, var(--space-color), #000);
  color: #fff;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  
}
.btn-space:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 20px rgba(0,0,0,0.25);
  font-weight: 600; /* Semi-bold */
}
.btn-space:active {
  transform: translateY(-1px);
  box-shadow: 0 8px 12px rgba(0,0,0,0.2);
}

/* Animação da seta */
.arrow-icon {
  transition: transform 0.3s ease-in-out;
  font-weight: 625; 
  filter: drop-shadow(0.5px 0 0 currentColor); 
  margin-left: 0.25rem; 
}

.btn-space:hover .arrow-icon {
  transform: translateX(4px);
}