@mixin png-i($image-url) {
  width: 95%;
  height: 340px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-image: url($image-url);
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.png-i-1 { @include png-i('../../../img/idolos/micao.jpg'); }
.png-i-2 { @include png-i('../../../img/idolos/jockster.jpg'); }
.png-i-3 { @include png-i('../../../img/idolos/shini.jpg'); }
.png-i-4 { @include png-i('../../../img/idolos/redbert.jpg'); }
.png-i-5 { @include png-i('../../../img/idolos/tockers.jpg'); }
.png-i-6 { @include png-i('../../../img/idolos/peter.png'); }
.png-i-7 { @include png-i('../../../img/idolos/envy.png'); }
.png-i-8 { @include png-i('../../../img/idolos/yang.jpg'); }
.png-i-9 { @include png-i('../../../img/idolos/tay.jpg'); }
.png-i-10 { @include png-i('../../../img/idolos/maestro.png'); }
.png-i-11 { @include png-i('../../../img/idolos/abaxial.png'); }
.png-i-12 { @include png-i('../../../img/idolos/mills.png'); }
.png-i-13 { @include png-i('../../../img/idolos/aoshi.jpeg'); }
.png-i-14 { @include png-i('../../../img/idolos/revolta.png'); }