.custom-shape-divider-top-split {
  position: relative;
  display: block;
  width: -webkit-calc(100% + 1.3px);
  width: calc(100% + 1.3px);
  height: 80px;
}

.custom-shape-divider-top-split svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-split svg svg {
  position: relative;
  display: block;
  width: -webkit-calc(100% + 1.3px);
  width: calc(100% + 1.3px);
  height: 275px;
}