.border-darkest {
  border: 2px solid #0d0d0d; /* Cor ainda mais escura para a borda */
}

.player-img {
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
  width: 200px;
  height: 160px;
}

.player-img:hover {
  filter: drop-shadow(10px 10px 10px rgba(176, 41, 100, 1));
}

.custom-h4 {
  display: inline-block;
  width: 200px; /* A mesma largura da imagem */
  background-color: white; /* Caixa branca */
  border: 2px solid black; /* Borda */
  animation: border-animation 2s infinite; /* Animação na borda */
}

@keyframes border-animation {
  0% {
    border-color: black;
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
  100% {
    border-color: black;
  }
}

.custom-h4 a {
  text-decoration: none;
}