.png-i-1 {
  width: 95%;
  height: 340px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-image: url("../../../img/idolos/micao.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.png-i-2 {
  width: 95%;
  height: 340px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-image: url("../../../img/idolos/jockster.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.png-i-3 {
  width: 95%;
  height: 340px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-image: url("../../../img/idolos/shini.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.png-i-4 {
  width: 95%;
  height: 340px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-image: url("../../../img/idolos/redbert.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.png-i-5 {
  width: 95%;
  height: 340px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-image: url("../../../img/idolos/tockers.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.png-i-6 {
  width: 95%;
  height: 340px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-image: url("../../../img/idolos/peter.png");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.png-i-7 {
  width: 95%;
  height: 340px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-image: url("../../../img/idolos/envy.png");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.png-i-8 {
  width: 95%;
  height: 340px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-image: url("../../../img/idolos/yang.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.png-i-9 {
  width: 95%;
  height: 340px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-image: url("../../../img/idolos/tay.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.png-i-10 {
  width: 95%;
  height: 340px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-image: url("../../../img/idolos/maestro.png");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.png-i-11 {
  width: 95%;
  height: 340px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-image: url("../../../img/idolos/abaxial.png");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.png-i-12 {
  width: 95%;
  height: 340px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-image: url("../../../img/idolos/mills.png");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.png-i-13 {
  width: 95%;
  height: 340px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-image: url("../../../img/idolos/aoshi.jpeg");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.png-i-14 {
  width: 95%;
  height: 340px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-image: url("../../../img/idolos/revolta.png");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

/*# sourceMappingURL=idolos.css.map */
