html,
body {
  height: 100%;
  overflow-x: hidden;
  color: var(--primary-color);
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  background: var(--bg-body);
  background-image: url('../../../../assets/image/background/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main {
  flex: -1;
}

.content {
  z-index: 1;
  max-width: 800px;
  padding: 20px;
}

@media (max-width: 767.98px) {
  main {
    padding-top: 20vh;
  }
}

@media (max-width: 991.98px) and (min-width: 768px) {
  main {
    padding-top: 23vh;  
  }
}

@media only screen
  and (min-width: 1300px) and (max-width: 1559px)
  and (min-height: 800px) and (max-height: 975px)
  and (orientation: landscape) {

  main {
    padding-top: 13vh;    /* ajuste conforme necessário */
  }
}

@media only screen
  and (min-width: 1920px) and (max-width: 1920px)
  and (min-height: 1080px) and (max-height: 1080px)
  and (orientation: landscape) {

  main {
    padding-top: 15vh;
  }
}