@import url(../../base/_variables.css);
@import url(./_animations.css);
@import url(./_titles.css);
@import url(./_typography.css);
@import url(./_buttons.css);
@import url(./_background.css);

html,
body {
  height: 100%;
  overflow-x: hidden;
  color: aliceblue;
  margin: 0;
  padding: 0;
}

body {
  background:#191919;
  background-image: url('../../../../assets/img/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.content {
  z-index: 1;
  max-width: 800px;
  padding: 20px;
}