.custom-shape-divider-top-1 .shape-fill {
    fill: #191919;
}
.custom-shape-divider-top-1 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin: 0;
    padding: 0;
    background-image: url('../../../../image/background/luxo-abstrato-desfocar-gradiente-cinza-escuro-e-preto-usado-como-parede-de-estudio-de-fundo-para-exibir-seus-produtos-plano-de-fundo-liso-estudio.jpg'); 
}