.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-img-hero {
  background-image: url('../../../../image/image_pages/historia/parallax_img/parallax_img_1_Primeira_Line_Up.png');
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.parallax-img-ceo {
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.parallax-img-2 {
  background-image: url('../../../../image/image_pages/historia/parallax_img/parallax_img_2_Line_Up_e_ceos.jpeg');
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.parallax-img-3 {
  background-image: url('../../../../image/image_pages/historia/parallax_img/parallax_img_3_line_xma.jpg');
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.parallax-img-4 {
  background-image: url('../../../../image/image_pages/historia/parallax_img/parallax_img_4_intz_eterna.png');
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
}