.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-img-hero {
  background-image: url('../../../../image/image_pages/historia/line/INTZ_primeira_line.png');
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.parallax-img-ceo {
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.parallax-img-2 {
  background-image: url('../../../../image/image_pages/historia/line/Pgina2.jpeg');
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.parallax-img-3 {
  background-image: url('../../../../image/image_pages/historia/line/15487247621_9d92367cc2_z.jpg');
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
}