.carousel {
  position: relative;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 4.5rem;
}

.carousel__body {
  width: 100%;
  padding: 20px 0 50px;
  overflow: hidden;
}

.carousel__slider {
  position: relative;
  -webkit-transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  background: var(--crsl-bg);
}

