.section-history{
  border-bottom: 1px var(--primary-color) solid;
  background-color: #ffffff;
  border-radius:0 0 1rem 1rem;
  position: relative;
  overflow: hidden;
  padding-bottom: 1.9rem;
}
.history-section-title {
  font-family: var(--f-title);
  font-size: 2.5rem;
  color: #222;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  margin-bottom: 1.5rem;
}
.history-section-title::after {
  content: "";
  display: block;
  width: 12rem;
  height: 4px;
  background: #050534;
  margin: 0.5rem auto 0;
}
.columns-container {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.col-text {
  flex: 1;
  min-width: 45%;
}

@media (max-width: 992px) {
  .columns-container {
    flex-direction: column;
  }
}