.png-i-1 {
  width: 95%;
  height: 340px;
  margin-bottom: 10px;
  border-radius: 10px 10px 10px 10px;
  background-image: url("/public/assets/img/idolos/micao.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.png-i-2 {
  width: 95%;
  height: 340px;
  margin-bottom: 10px;
  border-radius: 10px 10px 10px 10px;
  background-image: url("/public/assets/img/idolos/");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.png-i-3 {
  width: 95%;
  height: 340px;
  margin-bottom: 10px;
  border-radius: 10px 10px 10px 10px;
  background-image: url("/public/assets/img/idolos/");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.png-i-4 {
  width: 95%;
  height: 340px;
  margin-bottom: 10px;
  border-radius: 10px 10px 10px 10px;
  background-image: url("/public/assets/img/idolos/");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.png-i-5 {
  width: 95%;
  height: 340px;
  margin-bottom: 10px;
  border-radius: 10px 10px 10px 10px;
  background-image: url("/public/assets/img/idolos/");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.png-i-6 {
  width: 95%;
  height: 340px;
  margin-bottom: 10px;
  border-radius: 10px 10px 10px 10px;
  background-image: url("/public/assets/img/idolos/");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.png-i-7 {
  width: 95%;
  height: 340px;
  margin-bottom: 10px;
  border-radius: 10px 10px 10px 10px;
  background-image: url("/public/assets/img/idolos/");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.png-i-8 {
  width: 95%;
  height: 340px;
  margin-bottom: 10px;
  border-radius: 10px 10px 10px 10px;
  background-image: url("/public/assets/img/idolos/");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.png-i-9 {
  width: 95%;
  height: 340px;
  margin-bottom: 10px;
  border-radius: 10px 10px 10px 10px;
  background-image: url("/public/assets/img/idolos/");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.png-i-10 {
  width: 95%;
  height: 340px;
  margin-bottom: 10px;
  border-radius: 10px 10px 10px 10px;
  background-image: url("/public/assets/img/idolos/");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.png-i-11 {
  width: 95%;
  height: 340px;
  margin-bottom: 10px;
  border-radius: 10px 10px 10px 10px;
  background-image: url("/public/assets/img/idolos/");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.png-i-12 {
  width: 95%;
  height: 340px;
  margin-bottom: 10px;
  border-radius: 10px 10px 10px 10px;
  background-image: url("/public/assets/img/idolos/");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.png-i-13 {
  width: 95%;
  height: 340px;
  margin-bottom: 10px;
  border-radius: 10px 10px 10px 10px;
  background-image: url("/public/assets/img/idolos/");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.png-i-14 {
  width: 95%;
  height: 340px;
  margin-bottom: 10px;
  border-radius: 10px 10px 10px 10px;
  background-image: url("/public/assets/img/idolos/");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

/*# sourceMappingURL=idolos.css.map */
