.efeito {
  color: #fff;
  border: 4px solid #000;
  box-shadow: inset 0 0 0 1px #000;
  background-color: #000;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.efeito:hover {
  color: #000;
  border: 4px solid #212529;
  background-color: #fff;
  box-shadow: inset 0 0 0 4px #eee;
}

.efeito a {
  transition: all 0.2s ease-out;
  z-index: 2;
}

.efeito:hover a {
  letter-spacing: 13em;
  color: #333;
}

.efeito:after {
  background: #fff;
  border: 0 solid #000;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.8;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
}

.efeito:hover::after {
  background: #fff;
  border: 20px solid #000;
  opacity: 0;
  left: 120%;
  transform: rotate(40deg);
}

.active {
  color: rgb(0, 0, 0) !important;
  background-color: white !important;
}
.tab-content .tab-pane.fade.show {
  color: #fff !important;
  background-color: #191919 !important;
  border-color: #191919 !important;
}