@charset "UTF-8";
.img-1 {
  position: relative;
  height: 100%;
  height: 100vh; /* Ocupa toda a altura da viewport */
  opacity: 0.7;
  background-repeat: no-repeat;
  background-image: url("../../../img/parallax-img/parallax-2015/campeao-2015.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.img-2 {
  position: relative;
  height: 100%;
  height: 100vh; /* Ocupa toda a altura da viewport */
  opacity: 0.7;
  background-repeat: no-repeat;
  background-image: url("../../../img/parallax-img/parallax-2015/jogadores perfilados.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.img-3 {
  position: relative;
  height: 100%;
  height: 100vh; /* Ocupa toda a altura da viewport */
  opacity: 0.7;
  background-repeat: no-repeat;
  background-image: url("../../../img/parallax-img/parallax-2015/micao.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.img-4 {
  position: relative;
  height: 100%;
  height: 100vh; /* Ocupa toda a altura da viewport */
  opacity: 0.7;
  background-repeat: no-repeat;
  background-image: url("../../../img/parallax-img/parallax-2015/jockster.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.img-5 {
  position: relative;
  height: 100%;
  height: 100vh; /* Ocupa toda a altura da viewport */
  opacity: 0.7;
  background-repeat: no-repeat;
  background-image: url("../../../img/parallax-img/parallax-2015/yang.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.img-6 {
  position: relative;
  height: 100%;
  height: 100vh; /* Ocupa toda a altura da viewport */
  opacity: 0.7;
  background-repeat: no-repeat;
  background-image: url("../../../img/parallax-img/parallax-2015/tockers.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.img-7 {
  position: relative;
  height: 100%;
  height: 100vh; /* Ocupa toda a altura da viewport */
  opacity: 0.7;
  background-repeat: no-repeat;
  background-image: url("../../../img/parallax-img/parallax-2015/revolta.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.img-8 {
  position: relative;
  height: 100%;
  height: 100vh; /* Ocupa toda a altura da viewport */
  opacity: 0.7;
  background-repeat: no-repeat;
  background-image: url("../../../img/parallax-img/parallax-2015/img.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.img-9 {
  position: relative;
  height: 100%;
  height: 100vh; /* Ocupa toda a altura da viewport */
  opacity: 0.7;
  background-repeat: no-repeat;
  background-image: url("../../../img/parallax-img/parallax-2015/img-7.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.img-10 {
  position: relative;
  height: 100%;
  height: 100vh; /* Ocupa toda a altura da viewport */
  opacity: 0.7;
  background-repeat: no-repeat;
  background-image: url("../../../img/parallax-img/parallax-2015/img-5.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.img-11 {
  position: relative;
  height: 100%;
  height: 100vh; /* Ocupa toda a altura da viewport */
  opacity: 0.7;
  background-repeat: no-repeat;
  background-image: url("../../../img/parallax-img/parallax-2015/foto-com-a-taça.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.img-12 {
  position: relative;
  height: 100%;
  height: 100vh; /* Ocupa toda a altura da viewport */
  opacity: 0.7;
  background-repeat: no-repeat;
  background-image: url("../../../img/parallax-img/parallax-2015/finalizacao.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/*# sourceMappingURL=parallax.css.map */
