@import url('../specific-style/complementary-styling/parallax-img.css');
@import url('../specific-style/complementary-styling/accordion.css');
@import url('../specific-style/complementary-styling/next-page.css');
/* Padrao */

html,
body {
  height: 100%;
  overflow-x: hidden;
  color: aliceblue;
}
/* Body */

body {
  background:#191919;
  background-image: url('../../../../assets/img/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: JetBrains Mono;
  padding: 0;
  margin: 0;
}

h3 {
  text-transform: uppercase;
  color: #111;
  text-align: center;
}

p {
  margin-bottom: 20px ;
}

.conteudo {
  color: #777;
  background-color: rgba(16, 16, 16, 0.5);
  font-size: 1.5em;
  text-align:justify;
  padding: 50px 80px;
}

.conteudo-titulo {
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  text-align: center;
}

.conteudo-titulo span.titulo {
  color: #fff;
  background-color: #111;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.conteudo-titulo-2 {
  color: #fff;
  background-color: #111;
  letter-spacing: 5px;
}

.card-player {
  color: #777;
  background-color: rgba(16, 16, 16, 0.5);
  font-size: 1.5em;
  padding: 25px 40px;
}


.imagens-campeoes img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    display: inline-block;
    margin-left: 10px;
}

.style-img-champions {
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
  border: 2px solid black;
  border: 2px solid transparent;
  transition: border 0.1s ease; 
}

.style-img-champions:hover {
  border: 3px solid #656668;
  transform: scale(1.1); 
  filter: grayscale(0.5) brightness(1.2);
}

.popover {
  background-color: #f0f0f0; /* Cor de fundo */
  color: #333; /* Cor do texto */
}

.campeao + .popover {
  color: #000; /* Cor do texto personalizada */
}

.popover-font-size{
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.lista {
  list-style-type: none;  
  margin: 0; 
}

.video{
  width: 640px ;
  height: 360px ;
}
