/* Relogio config
-----------------------------------------*/

.rgb-borda {
  background: #020024;
  background: linear-gradient(
    155deg,
    #333333 0%,
    #808080 0%,
    #c0c0c0 12%,
    #808080 24%,
    #333333 36%,
    #c0c0c0 48%,
    #808080 60%,
    #333333 72%,
    #808080 84%,
    #c0c0c0 96%
  );
  width: 8em; /* Diminui a largura */
  height: 3em; /* Diminui a altura */
  border-radius: 10px;
  position: relative;
  animation: gradient 55s linear infinite;
}

.rgb-borda::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: inherit;
  position: absolute;
  filter: blur(4px);
}

.rgb-borda .botao {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #1f1f1f 74%);
  width: 6.8em; /* Diminui a largura */
  height: 2.3em; /* Diminui a altura */
  text-align: center;
  text-decoration: none;
  padding: 0.5em; /* Ajusta o alinhamento vertical do texto */
  color: #fff;
  font-size: 1.1em;
  letter-spacing: 1px;
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 18.75em 31.25em;
  }
  100% {
    background-position: 0.1em 0.1em;
  }
}

.bola {
  /* Border-Radius for article titulos */
  width: 150px;
  height: 150px;
  border-radius: 50%;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
  border: 2px solid transparent; /* Transparent border initially */
  transition: border 0.1s ease; /* Smooth transition */
}

.bola:hover {
  border: 5px solid #0058fc; /* White border on hover */
  transform: scale(1.1); /* Zoom in slightly on hover */
  filter: grayscale(0.5) brightness(1.2); /* Grayscale and brightness on hover */
}

.player-img {
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
  width: 200px;
  height: 160px;
}

.player-img:hover {
  filter: drop-shadow(10px 10px 10px rgba(176, 41, 100, 1));
}

.custom-h4 {
  display: inline-block;
  width: 200px; /* A mesma largura da imagem */
  background-color: white; /* Caixa branca */
  border: 2px solid black; /* Borda */
  animation: border-animation 2s infinite; /* Animação na borda */
}

@keyframes border-animation {
  0% {
    border-color: black;
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
  100% {
    border-color: black;
  }
}

/* Linha animada 1
-----------------------------------------*/
.animation-line::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #f45687;
  animation: border-color 2s linear infinite;
}

@keyframes border-color {
  0% {
    background-color: #fff7;
  }
  50% {
    background-color: #0a0a09;
  }
  100% {
    background-color: #fc6998;
  }
}

/* Linha animada 2
-----------------------------------------*/

.animation-line2::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #f45687;
  animation: border-color 2s linear infinite;
}

@keyframes border-color {
  0% {
    background-color: #fff7;
  }
  50% {
    background-color: #0a0a09;
  }
  100% {
    background-color: #e99c0d;
  }
}
