@media (max-width: 575.98px) { 

/* Responsivo da Line Up atual
------------------------------------------*/
  .player-col .player-img,
  .player-col .custom-h4, 
  .bg-darker {
    width: 260px; 
    max-width: 100%; 
    height: auto; 
}
  .player-col {
   display: flex; 
   flex-direction: column; 
   align-items: center; 
}
 /* Responsivo de Musicas 
 ------------------------------------------- */

/* Coloca o texto abaixo do vídeo */
  .responsive-row .col-6 {
   width: 100%;
   display: block;
}
/* Ajusta os botões para ficarem lado a lado */
  .nav-item {
   display: inline-block;
   margin-right: 1px;
}
/* Mantém o tamanho dos botões, mas diminui a largura */
  .botao {
   width: auto; /* Ajuste conforme necessário */
   font-size: 0.7em; /* Reduz o tamanho da fonte */
   padding: 10px 5px; /* Ajusta o preenchimento */
   margin-right: 5px; /* Ajusta a margem */
}
/* Diminui o tamanho do vídeo para não ultrapassar o container */
  .embed-responsive-item {
   max-width: 100%;
   height: auto;
}
.sombra{
  margin-bottom: 15px;
  margin-top: 15px;
}
.idol{
  height: 90%;
}
.navbar-light .navbar-nav {
  padding-top: 10px;
  padding-left: 15px; 
}

}

@media (min-width: 576px) and (max-width: 767.98px) { 

/* Responsivo da Line Up atual*/   
  .player-col .player-img,
  .player-col .custom-h4, 
  .bg-darker {
   width: 260px; 
   max-width: 100%; 
   height: auto; 
}
  .player-col {
   display: flex; 
   flex-direction: column; 
   align-items: center; 
}
 /* Responsivo de Musicas 
 ------------------------------------------- */

/* Coloca o texto abaixo do vídeo */
  .responsive-row .col-6 {
   width: 100%;
   display: block;
}
/* Ajusta os botões para ficarem lado a lado */
  .nav-item {
   display: inline-block;
   margin-right: 2px;
}
/* Mantém o tamanho dos botões, mas diminui a largura */
  .botao {
   width: auto; /* Ajuste conforme necessário */
   font-size: 0.8em; /* Reduz o tamanho da fonte */
   padding: 10px 5px; /* Ajusta o preenchimento */
   margin-right: 5px; /* Ajusta a margem */
}
/* Diminui o tamanho do vídeo para não ultrapassar o container */
  .embed-responsive-item {
   max-width: 100%;
   height: auto;
}

}
  
@media (min-width: 768px) and (max-width: 991px) {  

/* Responsivo da Line Up atual
------------------------------------------------*/
 .player-col .player-img,
 .player-col .custom-h4, 
 .bg-darker {
  width: 200px; 
  max-width: 100%; 
  height: auto; 
}
 .player-col {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}
/* Responsivo de Musicas 
 ------------------------------------------- */

/* Coloca o texto abaixo do vídeo */
.responsive-row .col-6 {
 width: 100%;
 display: block;
}
/* Ajusta os botões para ficarem lado a lado */
  .nav-item {
   display: inline-block;
   margin-right: 5px;
}
/* Mantém o tamanho dos botões, mas diminui a largura */
  .botao {
   width: auto; /* Ajuste conforme necessário */
   font-size: 0.9em; /* Reduz o tamanho da fonte */
   padding: 10px 5px; /* Ajusta o preenchimento */
   margin-right: 5px; /* Ajusta a margem */
}
/* Diminui o tamanho do vídeo para não ultrapassar o container */
  .embed-responsive-item {
   width: 695px;
   max-width: 100%;
   height: 260px;
}

.flex-md-equal > * {
  flex: 1;
}

}
  
@media (min-width: 992px) and (max-width: 1199px) {

/* Responsivo da Line Up atual*/
  .player-col .player-img,
  .player-col .custom-h4, 
  .bg-darker {
   width: 295px; 
   max-width: 100%; 
   height: auto; 
}
  .player-col {
   display: flex; 
   flex-direction: column; 
   align-items: center; 
   margin-bottom: 4px;
}
/* Responsivo de Musicas 
 ------------------------------------------- */

/* Coloca o texto abaixo do vídeo */
.responsive-row .col-6 {
 width: 100%;
 display: block;
}
/* Ajusta os botões para ficarem lado a lado */
  .nav-item {
   display: inline-block;
   margin-right: 5px;
}
/* Mantém o tamanho dos botões, mas diminui a largura */
  .botao {
   width: auto; /* Ajuste conforme necessário */
   font-size: 0.9em; /* Reduz o tamanho da fonte */
   padding: 10px 5px; /* Ajusta o preenchimento */
   margin-right: 5px; /* Ajusta a margem */
}
/* Diminui o tamanho do vídeo para não ultrapassar o container */
  .embed-responsive-item {
   width: 935px;
   max-width: 100%;
   height: 360px;
   margin-bottom: 5px;
}

}
  
@media (min-width: 1200px) {
      /* Estilos para desktops */
}