
/* Barra de navegação
--------------------------------------------*/
header {
    background: #111111;
  }

header .navbar-light .navbar-nav .nav-link:hover{
    color: #ffffff;
}

.logo {
     filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
     width: 64px;
}


.navbar-nav .nav-link {
  color: #bfbebe;
}
  
.navbar-toggler {
  color: rgba(255, 255, 255, 0.986);
  padding: 4px;
}
  
.navbar-toggler-icon{
    color: white;
}

header .nav-link {
    position: relative;
    color: #FFFFFF; /* Cor do texto do link */
}
  
header .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff; /* Cor da linha de animação */
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
  
header .nav-link:hover::after {
    visibility: visible;
    width: 100%;
}

