@import url('./specific-style/complementary-styling/animation-effects.css');
@import url('./media_queries.css');

/* Layout
--------------------------------------------*/
html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  background:#191919;
  background-image: url('../../img/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: JetBrains Mono;
  padding: 0;
  margin: 0;
}

/* formatação de botao
-----------------------------------------*/
.branco {
  border: 0px solid white;
}

.branco:hover {
  background-color: white;
  color: black;
}

.btn-custom {
  color: white;
  text-transform: uppercase;
  transition: backgroud 0.4s, color 0.4s;
  padding: 5px 5px;
}

/* deafault color dark  */

.bg-darker {
  background-color: #191919;
  width: 200px;
}

.dark {
  background-color: #191919;
}

.darkness {
  background-color: #111111;
}

input::placeholder {
  color: #faf7f7; 
}
