.ceos-section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  background-image: url('../../../../image/background/luxo-abstrato-desfocar-gradiente-cinza-escuro-e-preto-usado-como-parede-de-estudio-de-fundo-para-exibir-seus-produtos-plano-de-fundo-liso-estudio.jpg'); 
}
.images-container {
  margin-top: 5px;
  padding: 0.5rem;
}
.ceo-image-frame {
  position: relative;
  min-height: 150px;
  min-width: 300px; 
  padding: 10px;
  transform-origin: center;
  transition: transform 0.3s ease;
  border-radius: 10px;
  background: var(--bg-body);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;  
}
.ceo-img {
  width: 120px;
  border: 4px solid var(--primary-color-text);
}
.ceo-name-static {
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  font-family:  var(--f2-title);
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-color-2);
  background: var(--primary-color-text);
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  border-radius: 20px;
}
.transform-up {
  transform: rotate(-5deg) translateY(-20px);
}
.transform-down {
  transform: rotate(5deg) translateY(20px);
}
.ceo-img-frame-specific{
 margin: 0 auto;
 width: 371px; 
}
.text-container h1 {
  font-weight: 800;
  filter: drop-shadow(0 0 5px var(--space-color));
}
.text-container p {
  font-size: 1.3rem;
  color: var(--title-color);
  font-family: var(--f-body);
}
@media (max-width: 768px) {
 .ceo-image-frame {
  flex-direction: column !important;
  align-items: center;
  text-align: center;
 }
 .images-container {
   margin-top: 0;
 }
 .ceo-name-static {
   margin-top: 15px;
 }
 .transform-up, .transform-down {
   transform: none;
   margin: 20px 0;
 }
 .ceo-img-frame-specific{
  width: 394px;
  margin-top: -40px !important;
 }
}
