 .parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-img-hero {
  background-image: url('../../../image/historia/primeira line.png');
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.hero-section {
  position: relative;
  z-index: 3;
}
.hero-content {
  position: relative;
  z-index: 2;
}

.hero-title{
  display: flex;
  flex-wrap: wrap;      /* permite quebra de linha */
  justify-content: center;

  color: var(--primary-color);
  font-family: var(--f-title);
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}

.hero-title::after {
  content: "";
  flex-basis: 100%;     /* força ocupação total da linha */
  margin-top: .5rem;
  width: 4rem;
  height: 4px;
  background: var(--primary-color);
  margin: 0.1rem auto 0;
}


.hero-overlay {
  position: absolute;
  inset: 0;           /* topo, direita, baixo, esquerda = 0 */
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;         /* entre fundo e texto */
}


.container, .hero-content {
  position: relative;
  z-index: 3;         /* texto sempre acima */
}

/* Responsividade */
@media (max-width: 768px) {
  .hero-title {
    flex-direction: column!important;
}

/* Adicione isto */
.hero-title::after {
    flex-basis: auto;
    display: block;
    margin: 0.9rem auto 0;
}
}

/* Efeito de texto dinâmico */
.hero-title {
  font-size: 4rem;
  text-shadow: 3px 3px 10px rgba(0,0,0,0.5);
  transition: all 0.3s ease;
}

@media (max-width: 992px) {
  .hero-title {
      font-size: 3rem;
  }
}