/* Fonte local JetBrains Mono (usada nos subtítulos) */
@font-face {
  font-family: 'JetBrains Mono';
  src: url('../../../fonts/jetbrains/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Fonte local JetBrains Mono Bold (subtítulos) */
@font-face {
  font-family: 'JetBrains Mono Bold';
  src: url('../../../fonts/jetbrains/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

/* Fonte Iosevka para títulos */
@font-face {
  font-family: 'Iosevka';
  src: url('../../../fonts/iosevka/Iosevka-Regular.ttc') format('woff2');
  font-weight: bold;
  font-style: normal;
}

/* Fonte Iosevka para títulos */
@font-face {
  font-family: 'Iosevka Bold';
  src: url('../../../fonts/iosevka/Iosevka-Bold.ttc') format('woff2');
  font-weight: bold;
  font-style: normal;
}

/* Fonte Inter para textos/paragraphos */
@font-face {
  font-family: 'Inter';
  src: url('../../../fonts/inter/Inter-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Variáveis globais para fontes */
:root {
  --f-title: 'Iosevka Bold', monospace;
  --f2-title: 'Iosevka', monospace;
  --f-subtitle: 'JetBrains Mono Bold', monospace;
  --f2-subtitle: 'JetBrains Mono', monospace;
  --f-body: 'Inter', sans-serif;
}

/* Aplicando as fontes */
body {
  font-family: var(--f-body);
}

h1, .title {
  font-family: var(--f-title);
}

h1, .title-bold {
  font-family: var(--f2-title);
}

h2, h3, .subtitle {
  font-family: var(--f-subtitle);
}
h4, h5, h6 {
  font-family: var(--f2-subtitle);
}