@media (max-width: 767.98px) {

  .luminance-title span {
    display: block;
    line-height: 1.1;
    font-size: 20vw;
  }
}

@media (max-width: 991.98px) and (min-width: 768px) {

  .luminance-title {
    font-size: 20vw;          
  }
  .luminance-title span {
    display: block;         
    line-height: 1.1;         
  }
}