/* Título animado mais lento */
.hero-title {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  -webkit-animation: gravity 8s ease-in-out infinite;
  animation: gravity 8s ease-in-out infinite;
  font-family: var(--f-title);
  text-transform: uppercase;
}
/* Texto */
.hero-text {
  font-size: 1.2rem;
  max-width: 500px;
  line-height: 1.6;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  font-family: var(--f-body);
}
/* Keyframes do título */
@-webkit-keyframes gravity {
  0%, 100% { -webkit-transform: translateY(0) rotate(0deg); transform: translateY(0) rotate(0deg); }
  25%      { -webkit-transform: translateY(-10px) rotate(1deg); transform: translateY(-10px) rotate(1deg); }
  50%      { -webkit-transform: translateY(3px) rotate(-1deg); transform: translateY(3px) rotate(-1deg); }
  75%      { -webkit-transform: translateY(-7px) rotate(0.5deg); transform: translateY(-7px) rotate(0.5deg); }
}

@keyframes gravity {
  0%, 100% { -webkit-transform: translateY(0) rotate(0deg); transform: translateY(0) rotate(0deg); }
  25%      { -webkit-transform: translateY(-10px) rotate(1deg); transform: translateY(-10px) rotate(1deg); }
  50%      { -webkit-transform: translateY(3px) rotate(-1deg); transform: translateY(3px) rotate(-1deg); }
  75%      { -webkit-transform: translateY(-7px) rotate(0.5deg); transform: translateY(-7px) rotate(0.5deg); }
}